<app-product-list>
  <app-header class="header">Header1</app-header>
  <app-content class="content">Content 1</app-content>
  <app-footer class="footer">Footer 1</app-footer>
</app-product-list>

<app-product-list>
  <app-header class="header">Header 2</app-header>
  <app-content class="content">Content 2</app-content>
  <app-footer class="footer">Footer 2</app-footer>
</app-product-list>

<app-product-list>
  <app-header class="header">Header 3</app-header>
  <app-content class="content">Content 3</app-content>
  <app-footer class="footer">Footer 4</app-footer>
</app-product-list>
