.content {
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.footer {
  background-color: black;
  color: aliceblue;
  padding: 10px;
  display: inline-block;
  width: 100%;
}

.header {
  background-color: black;
  color: aliceblue;
  padding: 10px;
  width: 100%;
  display: inline-block;
}
